@model Factory.Models.Machine

@using Factory.Models


    <h1>Factory Machine Details: </h1>

    <h2>@Model.MachineName</h2>
    
    <button>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId})</)</button>

   <button>@Html.ActionLink("Home", "Index", "Home")</button>
   <button>@Html.ActionLink("Add another Machine", "Create")</button>
   <button>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId})</button>
