@using Factory.Models;

<div class="card">
  <h2>Engineers</h2>
  <hr />
  @if (Model["engineers"].Length == 0)
  {
    <p>No engineers found</p>
  }
  else
  {
    @foreach (Engineer engineer in Model["engineers"])
    {
      <h5>@Html.ActionLink(@engineer.EngineerName, "Details", "Engineers", new { id = @engineer.EngineerId })</h5>
    }
  }
  <button>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</button>
</div>
<hr />
<div class="card">
  <h2>Machines</h2>
  <hr />
  @if (Model["machines"].Length == 0)
  {
    <p>No machines found</p>
  }
  else
  {
    @foreach (Machine machine in Model["machines"])
    {
      <h5>@Html.ActionLink(@machine.MachineName, "Details", "Machines", new { id = @machine.MachineId })</h5>

    }
  }
  <button>@Html.ActionLink("Manage machines", "Index", "Machines")</button>
</div>
